.container{
    margin-top: 80px;
    margin-left: 38%;
    
    border: rgb(175, 175, 175) solid 1px;
    padding:15px;
    height: 250px;
    width:25%;
 
    
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    margin-top:40px;
    border:grey 1px solid;
    border-bottom: grey;
    height:20px;
    justify-content: center;
    justify-content: space-around;
    font-size:11px;
    
  
}

.create{
    background-color: rgb(226, 222, 222);
    border:grey;
    margin-left: 40%;
    width: 300px;
    margin-top:10px;
    height:20px;
}

.new{
text-align: center;
text-decoration-line:underline;
margin-top:5px;
font-size:90%
}

.continue{
    background-color: rgb(245, 186, 76);
    border:rgb(151, 150, 150);
    margin-left: 1%;
    width: 300px;
}

.contin{
    margin-top: 15px;
    text-align:center;
}

.com{
    font-size:70%;
    text-align:center
}

.semail{
    font-size:80%
}

.nhelp{
    margin:15px;
    font-size:90%;
    font:rgb(26, 26, 97)
}

a{
    color:rgb(34, 104, 253);
    text-decoration-line:none;
}
h2{
    margin-top: 1px;
}